<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todolist</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <style>
        .input-group {
            margin-top: 30px;
        }

        .table > tbody > tr > td {
            line-height: 2.4;
        }
    </style>
</head>

<body>


<div id="vue" class="container">
    <!--上方表单-->
    <form role="form">
        <div class="input-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">用户名</button>
            </span>
            <input type="text" class="form-control" v-model="name">
        </div>
        <div class="input-group">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button">年龄</button>
        </span>
            <input type="text" class="form-control" v-model="age">
        </div>
        <div class="input-group">
            <input type="button" value="确定" class="btn btn-primary" v-on:click="add()">&nbsp;
            <input type="button" value="重置" class="btn btn-danger">
        </div>
    </form>


    <!--下方数据表格-->
    <table class="table table-bordered">
        <caption class="h3 text-center text-info">数据表单</caption>
        <thead>
        <tr class="text-success">
            <th class="text-center">序号</th>
            <th class="text-center">名字</th>
            <th class="text-center">年龄</th>
            <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody class="text-center">
        <tr v-for="(person, index) in persons">
            <td>{{index}}</td>
            <td>{{person.name}}</td>
            <td>{{person.age}}岁</td>
            <td>
                <button class="btn btn-sm btn-danger" data-toggle="modal" data-target="#myModal"
                        v-on:click="currIndex=index">删除
                </button>
            </td>
        </tr>
        <tr v-if="persons.length">
            <td colspan="4" class="text-right">
                <button class="btn btn-danger btn-sm" data-toggle="modal" data-target="#myModal"
                        v-on:click="currIndex=-2">删除全部
                </button>
            </td>
        </tr>
        <tr v-if="!persons.length">
            <td colspan="4">暂无数据...</td>
        </tr>
        </tbody>
    </table>

    <!--模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" v-if="currIndex==-2">确定删除全部?</h4>
                    <h4 class="modal-title" v-if="currIndex!=-2">确定删除全部?</h4>
                </div>
                <div class="modal-body">
                    <button class="btn btn-sm btn-danger" data-dismiss="modal" v-on:click="remove()">确定</button>
                    <button class="btn btn-sm btn-default" data-dismiss="modal">取消</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--&lt;!&ndash;从v2开始,绑定的元素不能第html/body标签&ndash;&gt;-->
<script src="bower_components/vue/dist/vue.js"></script>
<script src="bower_components/jquery/dist/jquery.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script>
    new Vue({
        el: "#vue",
        data: {
            name: "",
            age: "",
            persons: [],
            currIndex: "-100"
        },
        methods: {
            add: function () {
                if (this.name && this.age) {

                    this.persons.push({name: this.name, age: this.age});
                }
            },
            remove: function () {
                if (this.currIndex == -2) {
                    this.persons = [];
                }
                else {
                    this.persons.splice(this.currIndex, 1);
                }

            }
        }
    })
</script>
<script>
    //    $('#myModal').modal();
</script>

</body>
</html>